<main>
  <div class="content" >
    <button routerLink="/vendedor/details/newTask">
      <fa-icon [icon]="add" ></fa-icon>
      Adicionar tarefa
    </button>
   <div class="info" *ngFor = "let tarefa of tarefas">
      <div class="icon">
        <fa-icon [icon]="icon"></fa-icon>
        </div>
        <div class="info-content">
          <h2>{{tarefa.atividade}}</h2>
          <p>{{tarefa.data}} - {{tarefa.hora}}</p>
          <p>{{tarefa.anotacao}}</p>
        </div>
    </div>

  </div>
</main>
