<div class="content" *ngIf="showHeader == true">
  <div class="userBar">
    <div class="row">
      <div class="logo"><img src="../../../assets/img/logo.png" height="40px"></div>
      <div class="search-bar">
        <form>
          <fa-icon [icon]="search"></fa-icon>
          <input type="text" placeholder="Pesquisar">
        </form>
      </div>
      <div class="user">
        <div class="username">
          <h2>{{nome}}</h2>
          <p></p>
        </div>
      </div>
      <div class="icons">
        <div class="userIcon">
          <fa-icon [icon]="userIcon"></fa-icon>
        </div>
        <div class="arrowDown">
          <fa-icon [icon]="arrowDown"></fa-icon>
        </div>
        <div class="out" (click)="logout()">
          <fa-icon [icon]="sign"></fa-icon>
        </div>
      </div>
  </div>
</div>

