<app-header></app-header>
<main>
  <div class="content">
    <form >
      <div class="title">
        <h2>Criar Landing page</h2>
      </div>
      <div class="form">
        <label for="name">Nome da Landing Page</label>
        <input type="text" id="name" name="nome" [(ngModel)]="landing.nome" >
      </div>
      <div class="form">
        <label for="link">Link da pagina</label>
        <input type="text" id="link" name="link" [(ngModel)]="landing.link" >
      </div>
      <div class="form-select">
        <label for="funnel">Selecione o Funi</label>
        <select name="funil" id="funnel" [(ngModel)]="landing.funil" >
          <option *ngFor="let item of funis" [value]="item.nome" >{{item.nome}}</option>
        </select>
      </div>
      <div class="form" >
        <label for="input">Adicionar campos na Landing Page</label>
        <input *ngFor="let item of input" type="text" id="input" placeholder="Campo {{item}}" >
      </div>
      <div class="add-input" (click)="campoInput()">
        <fa-icon [icon]="add"></fa-icon>
        <p>Adicionar campo</p>
      </div>
      <div class="add">
        <button (click)="getCampo()" >Adicionar</button>
      </div>
    </form>
  </div>
</main>
