<app-navbar [routerBack]="backPage"></app-navbar>
<main>
  <div class="content">
    <form >
      <div class="title">
        <h2>Criar Landing page</h2>
      </div>
      <div class="form">
        <label for="name">Nome da Landing Page</label>
        <input type="text" id="name" name="nome" [(ngModel)]="landing.nome" >
      </div>
      <div class="form">
        <label for="link">Link da pagina</label>
        <input type="text" id="link" name="link" [(ngModel)]="landing.link" >
      </div>
      <div class="form-select">
        <label for="funnel">Selecione o Funil</label>
        <select name="funil" id="funnel" [(ngModel)]="landing.funil" >
          <option *ngFor="let item of funis" [value]="item.id" >{{item.nome}}</option>
        </select>
      </div>
      <div class="form-select">
        <label for="funnel">Selecione o produto cadastrado: </label>
        <select name="produto" id="produto" [(ngModel)]="landing.produto"  (ngModelChange)="valor($event)" multiple>
          <option *ngFor="let item of produtos" [value]="item.nome" >{{item.nome}}</option>
        </select>
      </div>

      <div class="form">
        <label for="title">Titulo</label>
        <input type="text" id="title" name="title" [(ngModel)]="landing.titulo">
      </div>
      <div class="form">
        <label for="background">Selecione o plano de fundo</label>
        <input type="file" name="background" id="background">
      </div>
      <div class="form" >
        <label for="campo">Adicionar campos na Landing Page</label>
        <input type="text" id="campo" name="campo"  [(ngModel)]="campos.campo" >
      </div>
      <div class="form-select">
        <label for="tipo">Tipo do campo</label>
        <select name="tipo" id="tipo" [(ngModel)]="campos.tipo">
          <option value="text">Texto</option>
          <option value="tel">Telefone</option>
          <option value="email">Email</option>
        </select>
      </div>
      <button id="add" class="add-input" (click)="addCampos()">
        <fa-icon [icon]="add"></fa-icon>
        <p>Adicionar campo</p>
      </button>
      <div class="campos">
        <div class="campos-content" *ngFor="let item of arrayCampos" >
          <div class="campo" >
            <fa-icon [icon]="campo"></fa-icon>
            <p>Campo: {{item.campo}} / Tipo: {{item.tipo}}</p>
          </div>
          <div class="actions">
            <fa-icon [icon]="delete" (click)="deleteCampo(item)" ></fa-icon>
          </div>
        </div>
      </div>
      <div class="form">
        <label for="button">Titulo do botão</label>
        <input type="text" id="button" name="button" [(ngModel)]="landing.butao">
      </div>
      <div class="add">
        <button (click)="addLanding()" >Adicionar</button>
      </div>
    </form>
  </div>
</main>
