main{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content{
  margin-top: 30px;
  width: 70%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: max-content;
    min-height: 800px;
    margin-top: 50px;
    background: #c7c7c7;
    box-shadow: 2px 3px 4px gray;
    border-radius: 15px;
    margin-bottom: 20px;

    label{
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 8px;


    }

    input{
      width: 85%;
      max-width: 350px;
      height: 27px;
      text-indent: 10px;
      font-size: 16px;
      border-radius: 5px;
      border: none;
      margin-bottom: 35px;

    }

    select{
      width: 75%;
      max-width: 200px;
      height: 25px;
      text-indent: 10px;
      font-weight: 600;
      border-radius: 5px;
      margin-bottom: 35px
    }

    .add-input{
      margin-top: 50px;
      display: flex;
      flex-direction: row;
      width: 160px;
      height: 30px;
      background: gray;
      color: white;
      border-radius: 10px;
      margin-left: 50px;
      margin-bottom: 100px;
      text-align: center;
      justify-content: space-evenly;
      align-items: center;
      cursor: pointer;
      box-shadow: 1px 2px 3px gray;
    }
    .add-input:hover {
      background: white;
      color: black;
    }

    .title{
      display: flex;
      justify-content: center;
      margin-top: 40px;
      margin-bottom: 80px;
      font-family: sans-serif;
    }

    .form{
      margin-left: 50px;
      display: flex;
      flex-direction: column;



    }
    .form-select {
      display: flex;
      flex-direction: column;
      margin-left: 50px;


    }

    .add{
      display: flex;
      justify-content: center;

      button{
        background: #9e77f5;
        color: white;
        height: 30px;
        font-size: 14px;
        width: 100px;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 2px 3px gray;
        cursor: pointer;
        margin-bottom: 20px;
     }
     button:hover{
      background: #6c4caf;
      color: black;
     }
    }
  } .campos{
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    width: 60%;
    padding: 10px;
    height: 200px;
    overflow: auto;
    background: rgb(168, 168, 168);
    border-radius: 10px;
    box-shadow: 2px 3px 4px gray;

    .campos-content{
      background: white;
      padding: 5px;
      box-shadow: 2px 2px 3px rgba(189, 189, 189, 0.952);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 95%;
      margin-bottom: 10px;
      fa-icon{
        font-size: 20px;
        border: 1px;
      }

      .campo{
        display: flex;
        flex-direction: row;
        align-items: center;
        fa-icon {
          font-size: 30px;
          margin-right: 15px;
        }
        p{
          font-size: 17px;
          font-weight: 600;
        }
      }
      .actions{
        display: flex;
        flex-direction: row;
        width: 60px;
        justify-content: space-between;
        fa-icon{
          font-size: 20px;
          cursor: pointer;

        }
      }
    }

  }



  #campo{
    margin-bottom: 10px;
  }
  #tipo{
    margin-bottom:10px;
  }
  #add{
    margin: 0;
    margin-bottom: 50px;
    margin-left: 50px;

  }

// #produto{
// }


  }
