
<nav class="menu">

  <button routerLinkActive="active"  [routerLink]="['/cliente/details/history', cliente[0].id]" >Histórico</button>
  <button routerLinkActive="active"  [routerLink]="['/cliente/details/email',  cliente[0].id]" >Email</button>
  <button routerLinkActive="active"  [routerLink]="['/cliente/details/phase',  cliente[0].id]" >Etapas</button>
  <!-- <button routerLinkActive="active"  [routerLink]="['/cliente/details/whatsapp',  cliente[0].id ]" >Whatsapp</button> -->

</nav>
<main>
  <!-- <div class="user">
    <fa-icon [icon]="userIcon"></fa-icon>
    <h2>{{cliente[0].nomecliente}}</h2>
  </div> -->
  <div class="content" *ngFor="let item of historicoCliente">
   <div class="info">
    <div class="icon">
      <fa-icon [icon]="anotar"></fa-icon>
    </div>
    <div class="info-content">
      <h2>{{item.atividade}}</h2>
      <p>{{item.data}} - {{item.hora}}</p>
      <p>{{item.mensagem}}</p>
    </div>
   </div>
  </div>
</main>
