<main>
  <div class="user">
    <fa-icon [icon]="userIcon"></fa-icon>
    <h2>Nome do cliente</h2>
  </div>
  <div class="content">
    <!-- <button routerLink="/vendedor/details/send">
      <fa-icon [icon]="add" ></fa-icon>
      Enviar email
    </button> -->
   <div class="info">
    <div class="icon">
      <fa-icon [icon]="email"></fa-icon>
    </div>
    <div class="info-content">
      <h2>Email enviado</h2>
      <p>22/03/2022 - 10:00</p>
      <p>Agendamento feito para o dia 30/03/2022</p>
    </div>
   </div>
  </div>
</main>
