<nav class="menu">

  <button routerLinkActive="active"  [routerLink]="['/cliente/details/history', cliente[0].id]" >Histórico</button>
  <button routerLinkActive="active"  [routerLink]="['/cliente/details/email',  cliente[0].id]" >Email</button>
  <button routerLinkActive="active"  [routerLink]="['/cliente/details/phase',  cliente[0].id]" >Etapas</button>
  <!-- <button routerLinkActive="active"  [routerLink]="['/cliente/details/whatsapp',  cliente[0].id ]" >Whatsapp</button> -->

</nav>
<main>
  <!-- <div class="user">
    <fa-icon [icon]="userIcon"></fa-icon>
    <h2>Nome do cliente</h2>
  </div> -->
  <div class="content">

   <!-- <div class="info">
    <div class="icon">
      <fa-icon [icon]="email"></fa-icon>
    </div>
    <div class="info-content">
      <h2>Email enviado</h2>
      <p>22/03/2022 - 10:00</p>
      <p>Agendamento feito para o dia 30/03/2022</p>
    </div>
   </div> -->
  </div>
</main>
