<main>
  <div class="content">
    <form>
      <div class="form-content">
        <div class="form-select">
          <label for="funnel">Funil</label>
          <select name="funnel" id="funnel">
            <option value="Whatsapp">Whatsapp</option>
          </select>
        </div>
        <div class="form-select">
          <label for="client">Cliente</label>
          <select name="client" id="client">
            <option value="client">Alexandre Marques</option>
          </select>
        </div>
        <div class="form-select">
          <label for="activity">Atividade</label>
          <select name="activity" id="activity">
            <option value="activity">Mensagem Whatsapp</option>
          </select>
        </div>
        <div class="form">
          <label for="hour">Hora:</label>
          <input type="time" id="hour">
        </div>
        <div class="form">
          <label for="date">Data:</label>
          <input type="date" id="date">
        </div>
        <div class="form-select">
          <label for="time">Duração:</label>
          <select name="time" id="time">
            <option value="30min">30 min</option>
          </select>
        </div>
      </div>
      <div class="annotation">
        <label for="note">Anotação:</label>
        <textarea name="" id="ano" cols="30" rows="10"></textarea>
      </div>
      <button>Criar atividade</button>
    </form>
  </div>
</main>

