<app-navbar [routerBack]="backPage"></app-navbar>
<main>
  <div class="content" *ngFor = "let item of funil">
    <div class="edit-funnel">
      <div class="title">
        <p>Editar funil</p>
      </div>
      <form class="form" autocomplete="off" >
        <div class="form">
          <label for="name">Nome do Funil</label>
          <input type="text" id="nome" name = "nome" placeholder = "item.nome" [(ngModel)] = "item.nome">
        </div>
        <div class="form">
          <label for="company">Empresa</label>
          <input type="text" id="empresa"  name = "empresa" [(ngModel)] = "item.empresa">
        </div>
        <div class="form">
          <label for="phase-funnel">Fases Cadastradas: </label>
          <input type="text" id="fase"    (ngModelChange)="alterar($event)" [(ngModel)] = "FaseEdit" name = "fase" >
        </div>
      </form>
      <div class="funnels">
        <div class="funnels-content" *ngFor="let item of arrayFase" >
          <div class="funnel">
            <fa-icon [icon]="funnel">
            </fa-icon>
            <p>{{item}}</p>
          </div>
          <fa-icon [icon]="edit" (click)="editarFase(item)"></fa-icon>
        </div>
      </div>
      <div class="edit">
      <button id="edit" (click)="editar()">
          <p>Editar</p>
        </button>
      </div>
    </div>
  </div>
</main>
