<main>
  <div class="content">
    <form>
      <div class="form-content">
        <div class="form-select">
          <label for="funnel">Funil</label>
          <select name="funnel" id="funnel">
            <option value="Whatsapp">Whatsapp</option>
          </select>
        </div>
        <div class="form-select">
          <label for="client">Cliente</label>
          <select name="client" id="client">
            <option value="Alexandre Marques">Alexandre Marques</option>
          </select>
        </div>
        <div class="form">
          <label for="email">Email:</label>
          <input type="email" id="email">
        </div>
        <div class="form">
          <label for="subject">Assunto:</label>
          <input type="text" id="subject">
        </div>
        <div class="form">
          <label for="message">Mensagem:</label>
          <textarea name="message" id="message" cols="30" rows="10"></textarea>
        </div>
      </div>
      <button>Enviar email</button>
    </form>
  </div>
</main>

