<main>
  <div class="content">
    <form>
      <div class="form-content">
        <div class="form-select">
          <label for="funnel">Funil</label>
          <select name="funnel" id="funnel">
            <option value="Whatsapp">Whatsapp</option>
          </select>
        </div>
        <div class="form">
          <div class="products">
          <label for="product">Nome do serviço/produto:</label>
          <input type="text" id="product">
          </div>
          <div class="price">
          <label for="price">Valor:</label>
          <input type="text" id="price">
          </div>
        </div>
      </div>
      <button>Editar Produto/Serviço</button>
    </form>
  </div>
</main>
