main{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.content {
  width: 68%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #bdbdbd;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 700px;
    width: 90%;
    border-radius: 10px;


    .form-content{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      width: 89%;
      height: 160px;
      margin-top: 20px;

      .form-select{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        .funil, .category{
          display: flex;
          flex-direction: column;
        }

        #category{
          width: 300px;
          height: 25px;
          text-indent: 5px;
          border-radius: 10px;
        }

        label{
          font-size: 18px;
          font-weight: 600;

        }
        select{
          font-size: 14px;
          text-indent: 5px;
          width: 300px;
          height: 25px;
        }

      }
    }

    .form{

      margin-top: 25px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      max-width: 800px;
      width: 100%;

      .products, .price, .add-product{
        display: flex;
        flex-direction: column;
        label{
          font-size: 18px;
          font-weight: 600;
          margin-bottom: 10px;
        }
        input{
          width: 300px;
          height: 25px;
          border: none;
          border-radius: 10px;
          border: none;
          box-shadow: 1px 2px 3px gray;
        }
      }


    }
    button{
      background: #3e96f5;
      color: white;
      border-radius: 5px;
      height: 30px;
      width: 150px;
      font-weight: 600;
      margin-top: 30px;
      border: none;
      box-shadow: 1px 2px 3px gray;
      cursor: pointer;

    }
    button:hover{
      background: #1064bd;
      color: black;
    }


    .add-phase{
      display: flex;
      width: 450px;
      justify-content: left;
      align-items: center;
      margin-top: 25px;
      margin-bottom: 10px;
      height: 50px;

      button{
        display: flex;
        flex-direction: row;
        width: 160px;
        justify-content: space-around;
        align-items: center;
        padding: 8px;
        background-color: whitesmoke;
        border: none;
        border-radius: 5px;
        box-shadow: 3px 3px 5px gray;
        height: max-content;
        p{
          font-size: 14px;
          font-weight: 600;
          color: gray;
        }
        fa-icon{
          width: max-content;
          font-size: 10px;
          color: gray;

        }
      }
    }
    .funnels{
      margin-top: 25px;
      margin-left: 25px;
      margin-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      width: 85%;
      padding: 10px;
      height: 250px;
      overflow: auto;
      background: rgb(168, 168, 168);
      border-radius: 10px;
      box-shadow: 2px 3px 4px gray;

      .funnels-content{
        background: white;
        padding: 5px;
        box-shadow: 2px 2px 3px rgba(189, 189, 189, 0.952);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        margin-bottom: 10px;
        .actions{
          fa-icon{
            margin-right: 5px;
            font-size: 20px;
            cursor: pointer;
          }
        }


        .funnel{
          display: flex;
          flex-direction: row;
          align-items: center;
          fa-icon {
            font-size: 30px;
            margin-right: 15px;
            cursor: pointer;
          }
        }
      }
    }
  }
}

#add-phase:hover {
  padding:10px;
  cursor: pointer;
}

#enviar {
  width: auto;
}
