<main id="main" *ngIf="concluido == false">
  <div class="content" id="content">
    <div class="title">
      <h2>{{dadosCampanha.titulo}}</h2>
    </div>
    <form #f="ngForm" (ngSubmit)="submitForm(f)">
      <div class="info">
      <label for="name">Nome:</label>
      <input type="text" name = "nome"  ngModel>
      </div>
      <div class="info">
        <label for="name">Telefone:</label>
        <input type="text" name = "telefone" ngModel>
        </div>
      <div class="info" *ngFor="let item of dadosCampanha.campos">
        <label for="name">{{item.campo}}</label>
        <input [type]="item.tipo"  [name] = "item.tratado"  ngModel>
      </div>
      <div align = "center">
      <button id="button" (click)="conclusao()"  type = "submit" >{{dadosCampanha.butao}}</button>
    </div>
    </form>
  </div>
</main>


<!-- cadastro concluído -->

<main id="next" *ngIf="concluido == true">
  <div class="content-next" id="content-next">
    <h2>Parabéns !</h2>
    <p>Sua inscrição foi efetuada com sucesso, entraremos em contato em breve !</p>
    <button (click)="conclusao()">Ok</button>
  </div>
</main>
