@media only screen and (max-width: 992px) {
  #main {
    justify-content: center;
  }
  #content{
    width: 50%;
    margin: 0;
  }

}
@media only screen and (max-width: 680px) {

  #main {
    justify-content: center;
  }
  #content{
    width: 70%;
    margin: 0;
  }
  #button{
    width: 70%;
    font-size: 12px;
  }

}
main {
  background-image:  no-repeat center center / cover !important;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100px;
  border-radius: 30px;
  height: 500px;
  width: 30%;
  max-width: 500px;
  background: white;

  .title{
    width: 90%;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  form{
    display: flex;
    flex-direction: column;
    width: 90%;

    .info{
      display: flex;
      flex-direction: column;
      label{
        font-size: 18px;
        font-weight: 600;
        font-family: sans-serif;
        margin-bottom: 5px;
      }
      input{
        margin-bottom: 20px;
        height: 25px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        background-color: rgb(223, 223, 223);
        text-indent: 5px;
      }

    }

  }

  button{
    box-shadow: 2px 2px 3px gray;
    margin-top: 50px;
    height: 35px;
    border: none;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    background-color: #3e96f5;
    color: white;
    cursor: pointer;
  }
  button:hover{
    background: #2d6db1;
    color: #eee;
  }
}

#next{
  display: flex;
  justify-content: center;
}

#content-next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 100px;
  border-radius: 30px;
  height: 300px;
  width: 50%;
  max-width: 500px;
  background: rgba(0, 0, 0, 0.678);
  color: #ffff;
  h2{
    font-size: 35px;
  }
  p{
    width: 90%;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

  }
  button{
    box-shadow: 2px 2px 3px gray;
    margin-top: 50px;
    height: 35px;
    border: none;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
    background-color: #3e96f5;
    color: white;
    cursor: pointer;
  }

}
span{
  font-size: 10px;
  margin-top: 0;
  color: red;
}

#cursos{
  display: flex;
  flex-direction: column;
  label{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  select{
    width: 40%;
    text-indent: 5px;
    border-radius: 10px;
    height: 30px;
    font-size: 14px;
    font-weight: 500;
  }
}
