<main id="main">
  <div class="content" id="content">
    <div class="title">
      <h2>Ganhe 40% de desconto em qualquer curso</h2>
    </div>
    <form>
      <div class="info">
        <label for="name">Nome:</label>
        <input type="text" id="name">
      </div>
      <div class="info">
        <label for="tel">Telefone:</label>
        <input type="tel" id="tel">
      </div>
      <div class="info">
        <label for="email">Email:</label>
        <input type="email" id="email">
      </div>
    </form>
    <button id="button" >Quero fazer minha faculdade</button>
  </div>
</main>
