<section class = "container">
     <div class = "box-login">
          <div class = "logo">
                <img src = "../../assets/img/logo-login.png" height="250px"/>
          </div>
          <div class = "info-login">
                  <h2> Login</h2><br><br>
                  <input type="email" name = "email" [(ngModel)]="userLogin.email" placeholder="Usuário: "/>
                  <input type="password" name = "password" [(ngModel)]="userLogin.password" placeholder="Senha: " [(ngModel)]="userLogin.password"/>
                  <div align = "center"><Br>
                     <button class = "button"  (click)="login()">Login</button>

                  </div>
          </div>
     </div>
</section>
