<app-header></app-header>
<main>
  <div class="content">
    <div class="title">
      <p>Lista de Landing Pages</p>
    </div>
    <div class="landing">
      <div class="landing-content">
        <div class="landing-name">
          <fa-icon class="userIcon" [icon]="userIcon"></fa-icon>
        <p>Landing Page 01</p>
        </div>
        <div id="actions">
          <div id="actions">
            <fa-icon [icon]="view" [routerLink]="['/campanha']"></fa-icon>
            <fa-icon [icon]="edit" [routerLink]="['/landingPage/edit']"></fa-icon>
            <fa-icon [icon]="delete"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
