<app-navbar [routerBack]="backPage"></app-navbar>
<main>
  <div class="content"  *ngFor = "let item of funil">
    <div class="add-funnel">
      <div class="title">
        <p>Adicionar Vendedor</p>
      </div>
      <form class="form" autocomplete="off" >
        <div class="form">
          <label for="name">Nome do Funil</label>
          <input type="text" id="name"  readonly name = "nome" [(ngModel)] = "item.nome">
        </div>
        <div class="form">
          <label for="company">Empresa</label>
          <input type="text"  readonly name = "empresa" [(ngModel)] = "item.empresa" >
        </div>
        <div class="saller">
          <p>Adicionar vendedor no funil</p>
          <div class="saller-selector">
            <input type="checkbox" id="saller">
            <label for="saller">Todos os vendedores</label>
          </div>
        </div>
      </form>
      <div class="edit">
        <button id="edit">
          <p>Editar</p>
        </button>
      </div>
    </div>
  </div>
</main>
