<app-navbar></app-navbar>
<main>
  <div class="content">
    <div class="add-funnel">
      <div class="title">
        <p>Adicionar Vendedor</p>
      </div>
      <form class="form" autocomplete="off" >
        <div class="form">
          <label for="name">Nome do Funil</label>
          <input type="text" id="name" >
        </div>
        <div class="form">
          <label for="company">Empresa</label>
          <input type="text" id="company" >
        </div>
        <div class="saller">
          <p>Adicionar vendedor no funil</p>
          <div class="saller-selector">
            <input type="checkbox" id="saller">
            <label for="saller">Todos os vendedores</label>
          </div>
        </div>
        <div class="add-saller">
          <button id="add-saller">
            <fa-icon [icon]="add"></fa-icon>
            <p>Adicionar fase</p>
          </button>
        </div>
      </form>
      <div class="edit">
        <button id="edit">
          <p>Editar</p>
        </button>
      </div>
    </div>
  </div>
</main>
