<app-header></app-header>
<nav class="navbar">
  <div class="nav-content">
    <div class="back" id="back" (click)="backPage('home')" [routerLink]="router">
      <fa-icon [icon]="back"></fa-icon>
    </div>
    <div class="add-funnel" id="add-funnel" (click)="navButton()" [routerLink]="['/funil/new']">
      <img src="assets/img/botao-adicionar.png" alt="">
      <p>Adicionar novo funil</p>
    </div>
    <div class="all-funnels" id="all-funnels" (click)="navButton()" [routerLink]="['/funil/all']">
      <fa-icon [icon]="allFunnels"></fa-icon>
      <p>Mostrar todos os funis</p>
    </div>
  </div>
</nav>
