<main>
  <div class="content">
    <button routerLink="/vendedor/details/newProducts">
      <fa-icon [icon]="add" ></fa-icon>
      Adicionar novo
    </button>
    <div class="info" *ngFor = "let product of products">
    <div class="icon">
      <fa-icon [icon]="curso"></fa-icon>
    </div>
    <div class="info-content">
      <h2>{{product.nome}}</h2>
      <p>{{product.data}} - {{product.hora}}</p>
      <p>Valor: R$ {{product.valor}},00</p>
    </div>
    <div class="actions">
      <fa-icon [icon]="edit"  [routerLink]="['/vendedor/details/editProducts', product.id]"></fa-icon>
      <fa-icon [icon]="delete"></fa-icon>
    </div>
    </div>
  </div>
</main>
