<main>
  <div class="content">
    <button routerLink="/vendedor/details/newProducts">
      <fa-icon [icon]="add" ></fa-icon>
      Adicionar novo
    </button>
    <div class="info">
    <div class="icon">
      <fa-icon [icon]="curso"></fa-icon>
    </div>
    <div class="info-content">
      <h2>Curso de enfermagem</h2>
      <p>22/03/2022 - 10:00</p>
      <p>Valor:R$ 130,00</p>
    </div>
    <div class="actions">
      <fa-icon [icon]="edit" routerLink="/vendedor/details/editProducts"></fa-icon>
      <fa-icon [icon]="delete"></fa-icon>
    </div>
    </div>
  </div>
</main>
