main{
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.user{
  height: 50px;
  width: max-content;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 3px gray;
  fa-icon{
    color: #6e83b7;
    font-size: 35px;
    margin-right: 5px;

  }
  h2{
    font-size: 18px;
  }

}

.content{
  width: 69%;
  max-width: 1000px;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 50px;

  .info{
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: max-content;
    padding: 20px;
    background-color: #00e676;
    box-shadow: 1px 1px 3px gray;
    margin-top: 10px;
    margin-bottom: 10px;

    textarea{
      border-radius: 5px;
      text-indent: 20px;
      width: 90%;
      height: 300px;
      resize: none;
      font-size: 18px;
      font-family: 'Segoe UI';
      font-weight: 500;

    }
    fa-icon{
      font-size: 70px;
      margin-bottom: 20px;
      color: #ffffff;
    }
    button{

      border: none;
      border-radius: 10px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      background-color: #128c7e;
      color: #ffffff;
      height: 50px;
      width: 120px;
      box-shadow: 3px 3px 5px rgba(128, 128, 128, 0.671);
      cursor: pointer;


      fa-icon{
        margin-top: 20px;
        font-size: 25px;
        margin-right: 15px;
      }
      p{
        font-size: 17px;
        font-weight: 600;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    }
    button:hover {
      color: #00e676;
      fa-icon{
        color: #00e676;
      }
    }


  }


}
