<app-header></app-header>
<main>
  <div class="content">
    <div class="cards-content">
      <div class="user-text">
        <div class="user">
          <p>Olá, Victor!</p>
        </div>
        <div class="title">
          <p>Acesso Rápido</p>
        </div>
      </div>
      <div class="cards-selectors">
        <div class="card-landing" id="landing">
          <div class="landing">
            <fa-icon [icon]="landing"></fa-icon>
            <h2>Landing Page</h2>
          </div>
        </div>
        <div class="card-funnel" id="funnel" routerLink="funil">
          <div class="funnel">
            <fa-icon [icon]="funnel"></fa-icon>
            <h2>Funil</h2>
          </div>
        </div>
        <div class="card-seller" id="seller" routerLink="vendedor">
          <div class="seller">
            <fa-icon [icon]="seller"></fa-icon>
            <h2>Vendedor</h2>
          </div>
        </div>
      </div>
    </div>
    <div class="date-selector">
      <button style="border-bottom:5px solid #5855d6 ;" id="day" (click)="timeSelect('day')">Hoje</button>
      <button  id="week" (click)="timeSelect('week')">Semana</button>
      <button  id="mouth"(click)="timeSelect('mouth')">Mês</button>
    </div>
    <div class="info-content">
      <div class="resume">
        <p class="title">Resumo</p>
        <div class="info">
          <div class="contacts">
            <h2>{{contatos}}</h2>
            <p class="tag">Contatos</p>
          </div>
          <div class="sales">
            <h2>23032</h2>
            <p class="tag">Vendas</p>
          </div>
          <div class="tasks">
            <h2>{{tarefas}}</h2>
            <p class="tag">Tarefas</p>
          </div>
          <div class="gain">
            <h2>{{ganho| currency:'BRL':'symbol'}}</h2>
            <p class="tag" >Ganhos</p>
          </div>
        </div>
      </div>
      <div class="activity-flow">
        <p class="title">Fluxo de Atividade</p>
        <div class="activities">
          <div class="history" *ngFor="let item of atividades">
            <div class="info">
              <p class="name">{{item.name}}</p>
              <p class="activity">{{item.action}}</p>
            </div>
            <div class="timing">
              <p class="time">{{item.date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="funnel-content">
      <div class="sales-funnel">
        <div class="title">
          <p>Funil de vendas</p>
          <div class="type-funnel">
            <p>Tipo de Funil:</p>
            <select class="type">
              <option value="Whatsapp">
                <p>Whatsapp</p>
              </option>
            </select>
          </div>
        </div>
        <div class="info-types">
          <button class="pass">O que passou</button>
          <button class="stay">O que ficou</button>
          <button class="lost">O que perdeu</button>
          <button class="prevision">Previsão</button>
        </div>
        <div class="inform-content">
          <div class="inform">
            <p>Interessados</p>
            <button class="blue">1200</button>
            <button class="yellow">1200</button>
            <button class="red">1200</button>
            <button class="green">1200</button>
          </div>
          <div class="inform">
            <p>Demonstrações</p>
            <button class="blue">1200</button>
            <button class="yellow">1200</button>
            <button class="red">1200</button>
            <button class="green">1200</button>
          </div>
          <div class="inform">
            <p>Negociações</p>
            <button class="blue">1200</button>
            <button class="yellow">1200</button>
            <button class="red">1200</button>
            <button class="green">1200</button>
          </div>
        </div>
        <div class="final-content">
          <div class="final-info">
            <button class="blue">Taxa de conversão</button>
            <h2>{{taxaCoversao}}</h2>
          </div>
          <div class="final-info">
            <button class="red">Perdas</button>
            <h2>{{perdas}}</h2>
          </div>
          <div class="final-info">
            <button class="black">Valor Perdido</button>
            <h2>{{valorPerdido | currency:'BRL':'symbol'}}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
