<app-header></app-header>
<main>
  <div class="content">
    <div class="add-saller">
      <div class="title">
        <p>Adicionar Vendedor</p>
      </div>
      <form class="form" autocomplete="off" >
        <div class="form">
          <label for="name">Nome do Vendedor</label>
          <input type="text" id="name" >
        </div>
        <div class="form">
          <label for="company">Empresa</label>
          <input type="text" id="company" >
        </div>
        <div class="form">
          <label for="adress">Endereço</label>
          <input type="text" id="adress" >
        </div>
        <div class="form">
          <label for="email">Email</label>
          <input type="email" id="email" >
        </div>
        <div class="form">
          <label for="phone">Telefone</label>
          <input type="tel" id="phone">
        </div>
        <div class="form">
          <label for="cpf">CPF</label>
          <input type="text" id="cpf" >
        </div>
        <div class="form">
          <label for="password">Senha</label>
          <input type="password" id="password" >
        </div>
        <div class="form">
          <label for="confirm-password">Confirmar Senha</label>
          <input type="password" id="confirm-password" >
        </div>
      </form>
      <div class="add">
        <button id="add">
          <p>Adicionar</p>
        </button>
      </div>
    </div>
  </div>
</main>

