<app-header></app-header>
<main>
  <div class="content">
    <div class="add-funnel">
      <div class="title">
        <p>Criar um novo funil</p>
      </div>
      <form class="form" autocomplete="off" >
        <div class="form">
          <label for="name">Nome do Funil</label>
          <input required  type="text" id="nome"  name = "nome" [(ngModel)]="Dadosfunil.nome">
        </div>
        <div class="form">
          <label for="company">Empresa</label>
          <input required  type="text" id="empresa" name = "empresa" [(ngModel)]="Dadosfunil.empresa"  >
        </div>
        <div class="form">
          <label for="phase-funnel">Fase do Funil</label>
          <input required  type="text" id="fase"  name = "fase" [(ngModel)]="Dadosfunil.fase" >
        </div>
        <div class="add-phase">
          <button id="add-phase" (click)="criarFase()">
            <fa-icon [icon]="add"></fa-icon>
            <p>Adicionar fase</p>
          </button>
        </div>
        <div *ngFor="let item of arrayFase">
          <h4 >
                {{item}}
          </h4>
          <fa-icon [icon]="add" (click) = "deleteFase(item)"></fa-icon>
        </div>
      </form>
      <div class="create">
        <button id="create" (click)="addFunil()" [disabled]="!Dadosfunil">
          <p>Criar</p>
        </button>
      </div>
    </div>
  </div>
</main>
