<section class = "container">
  <div class = "box-login">
       <div class = "logo">
             <img src = "../../assets/img/login.png" />
       </div>
       <div class = "info-login">
               <h2> Login</h2><br><br>
               <input type="text" placeholder="Usuário: "/>
               <input type="password" placeholder="Senha: "/>
               <div align = "center"><Br>
                  <button class = "button" [routerLink]="['/home']">Login</button>
               </div>
       </div>
  </div>
</section>
